<!DOCTYPE html>
<html>

<head>
  <title>Search by tag</title>
  <style>
    img.thumbnail {
      max-width: 100px;
      height: auto;
      display: block;
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <h1>Search by tag</h1>

  <form action="find_post" method="get">
    <p>
      Search word: <input type="text" name="query" value="{{ query }}"/>
    </p>
    <input type="submit" value="See results" />
  </form>

  <p>
    <a href="/">Back</a>
  </p>

  {% if query %}
  <h2>Results</h2>
  <ul>
    {% for post in results %}
    <li><a href="/post/{{ post.id }}?from=search&query={{ query }}">{{ post.title }}</a>
      {% if post.image %}
      <img class="thumbnail" src="data:image/jpeg;base64,{{ post.image|to_base64 }}" alt="{{ post.title }}" />
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</body>

</html>