<!DOCTYPE html>
<html>

<head>
  <title>ART SITE</title>
</head>

<body>
  <h1>ART SITE!</h1>
  {% if session.username %}
  <p>
    You are logged in as <a href="/user/{{ session.user_id }}">{{ session.username }}</a>, your ID is {{ session.user_id }}
  </p>
  <p>
    <a href="/logout">Log out</a><br>
    <a href="/new_post">New post</a><br>
    <a href="/find_post">Search</a><br>
  </p>
  {% else %}
  <p>
    <a href="/login">Log in</a><br>
    <a href="/register">Create new account</a><br>
    <a href="/find_post">Search</a><br>
  </p>
  {% endif %}

  <h2>Art!</h2>
  <ul>
    {% for post in posts %}
    <li><a href="/post/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>