<html>

<head>
  <title>ART SITE</title>
</head>

<body>
    <h1>ART SITE!</h1>
  {% if session.username %}
  <p>
    You are logged in as {{ session.username }}, your ID is {{ session.user_id }}
  </p>
  {% endif %}

  <p>
    <a href="/login">Log in</a>
    <a href="/register">Create new account</a>
    <a href="/logout">Log out</a>
  </p>

  <p>
    <a href="/new_post">New post</a>
  </p>
  <h2>Art!</h2>
    <ul>
    {% for post in posts %}
    <li><a href="/post/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
</body>

</html>