{% extends "layout.html" %}

{% block title %}ArtSome{% endblock %}

{% block content %}

<head>
  <title>Log in</title>
</head>

<body>
  <h1>Log in</h1>
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" required/>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" required/>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Log in" />
  </form>
</body>

{% endblock %}