<!DOCTYPE html>
<html>

<head>
  <title>New post</title>
</head>

<body>
  <h1>New post</h1>
  <form action="/create_post" method="post" enctype="multipart/form-data">
    <p>
      Image: <br />
      <input type="file" name="image" accept="image/*" required/>
    </p>
    <p>
      Title: <br />
      <input type="text" name="title" size="60" maxlength="100" required/>
    </p>
    <p>
      Description: <br />
      <textarea name="descriptio" rows="10" cols="60" maxlength="1000"></textarea>
    </p>
    <p>
      Tags (separate tags with commas): <br />
      <input type="text" name="tags" size="60" placeholder="e.g., Oil Painting, Landscape"/>
    </p>
    <input type="submit" value="Create post"/>
  </form>
</body>

</html>