{% extends "layout.html" %}

{% block title %}ArtSome{% endblock %}

{% block content %}

<head>
    <title>User {{ user.username }}</title>
</head>
<body>
    <h1>User {{ user.username }}</h1>
    {{ posts | count }} post(s)
    <ul class="posts">
        {% for post in posts %}
        <li>
          <a href="/post/{{ post.id }}">{{ post.title }}</a>
          {% if post.image %}
          <img class="thumbnail" src="data:image/jpeg;base64,{{ post.image|to_base64 }}" alt="{{ post.title }}" />
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      <p>
        <a href="/">Back</a>
    </p>
</body>

{% endblock %}